In [1]:
from sqlalchemy import create_engine

# Параметры подключения
username = 'u1059097_ln'
password = 'bfhp8DiXiZEZ'
host = 'vip186.hosting.reg.ru'
port = '3306'
database = 'u1059097_calc_userdata_prod'

# Формирование строки подключения
connection_string = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'

# Создание движка SQLAlchemy
engine = create_engine(connection_string)

In [2]:
import pandas as pd
import numpy as np
query = "SELECT * FROM calc_data"  # Замените 'your_table_name' на имя вашей таблицы

# Выполнение запроса и загрузка результатов в DataFrame
df = pd.read_sql_query(query, engine)

In [8]:
df.iloc[:1].in_user_array.

,id,timestamp,user,in_user_array,in_user_dop,out_calc_margins,out_calc_res,ss_in,ss_out
0,1,2023-09-12 11:53:47,baa@modul.org,"[[""Параметр"", ""Значение"", ""Значение по умолчан...","[[""76 // Комплектация. Здание. // Здание. Инже...",null,"[{""L0"": ""Комплектация. Здание."", ""L1"": ""Здание...",1YxeI-540gAlaAu3nepRHrmQSWPBfP5O,1cE9k6yqqlhax51y8YZ-hA_pBgYEZP0h

: