In [2]:
import pandas as pd
import numpy as np

In [5]:
rus = ['Отчётный период'	,'Завод'	,'Блок',	'Группа показателей','Показатель',	'Вид показателя'	,'Значение'	,'Примечание',	'disable']
eng = ['period','factory','department','measure_group','measure','measure','c_number','value_','add_info','disable']
mail_link = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSutugvn1KPMc70ACcFOxRnHXSNpc1GhavN62ssfz62rB5KFNRhBelCoPgyYm1qc8zSUl-iJweTvB0B/pub?output=xlsx'
df_sells = pd.read_excel(mail_link,sheet_name='Продажи',dtype={'Вид показателя':str})
df_sells = df_sells.rename(columns= dict(zip(rus,eng)))
df_sells.sample()

,period,factory,department,measure_group,measure,measure,c_number,value_,add_info
67,2022-07-01,Калуга,Продажи,Заключенные_договоры,Расчетная прибыль (%наценки) по договору,2590,50.0,NaN,NaN